In [150]:
import pandas as pd
import numpy as np
from datetime import datetime

In [170]:
pd.set_option('display.max_columns', 50)

In [175]:
df = pd.read_csv('train.csv')

In [176]:
from david_code import datetime_cleans

In [179]:
df = datetime_cleans(df)

In [180]:
df.head()

,Title,Address.1st.Line,Address.2nd.Line,State,Zip.Code,License.Type,License.Issue.Date,Dental.School,Graduation.Date,approach.date,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,DMD,6335 E. Mountain View,NaN,AZ,85253,Dentist License,1987-06-10,U of Pittsburg,1970-01-01,2017-08-04,1,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,DDS,24 N Bullmoose Cir,NaN,AZ,85224,Dentist License,2009-06-11,SUNY,2007-06-01,2017-06-17,0,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,DDS,2470 W Ray Road Suite 1,NaN,AZ,85224,Dentist License,2001-07-16,U of TX/SA,2001-05-26,2017-07-03,0,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,DDS,6649 East Valle Di Cadore,NaN,AZ,85750,Dentist License,1963-01-01,NW,1957-01-01,2016-11-14,0,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,DDS,6938 E. Gary,NaN,AZ,85254,Dentist License,1979-12-13,U of Detroit,1965-01-01,2017-08-27,0,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [181]:
# df['approach.date'][0]

In [182]:
# df['day_of_week'] = df['approach.date'].dt.day_name()

In [183]:
# df = datetime_cleans(df)

In [184]:
# df.head()

In [185]:
data = df.drop(columns=['Title', 'Address.1st.Line', 'Address.2nd.Line', 'State', 'Zip.Code', 'License.Type', 'License.Issue.Date', 'Dental.School', 
                'Graduation.Date'])

In [186]:
# data.head()

In [187]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

In [188]:
data.head()

,approach.date,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,City_Peoria,City_Parker,City_Sun City,City_Show Low,City_Mesa,City_Avondale,City_Oro Valley,City_Littlefield,City_Gilbert,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,2017-08-04,1,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2017-06-17,0,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2017-07-03,0,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,2016-11-14,0,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,2017-08-27,0,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [189]:
y = data['convert']
data = data.drop(columns=['convert', 'approach.date'])

In [190]:
data.head()

,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,City_Peoria,City_Parker,City_Sun City,City_Show Low,City_Mesa,City_Avondale,City_Oro Valley,City_Littlefield,City_Gilbert,City_Fort Mohave,City_Tempe,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [191]:
X_train, X_test, y_train, y_test = train_test_split(data,y)

In [192]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1)

In [193]:
random_forest_model.fit(X_train, y_train)
p_random_forest = random_forest_model.predict_proba(X_test)
random_forest_ll = log_loss(y_test, p_random_forest )
print("Random Forest Log Loss " + str(random_forest_ll))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Random Forest Log Loss 0.22766471923528883

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished

In [195]:
# list(zip(data.columns, random_forest_model.feature_importances_))

In [197]:
data.columns

Index(['years_in_state', 'years_in_practice', 'broker.ID_chris',
       'broker.ID_karl', 'broker.ID_sarah', 'City_Paradise Valley',
       'City_Chandler', 'City_Tucson', 'City_Scottsdale', 'City_Phoenix',
       ...
       'month_July', 'month_November', 'month_September', 'month_March',
       'month_April', 'month_May', 'month_January', 'month_December',
       'month_February', 'month_October'],
      dtype='object', length=137)

In [198]:
test = pd.read_csv('test.csv')

In [199]:
test.head()

,Title,Address.1st.Line,Address.2nd.Line,City,State,Zip.Code,License.Type,License.Issue.Date,Dental.School,Graduation.Date
0,DMD,6880 N High Grove,NaN,Willcox,AZ,85643,Dentist License,1991-10-17,U of OR,06/08/1991
1,DDS,1338 East Myrna Lane,NaN,Tempe,AZ,85284,Dentist License,1978-06-18,Loyola/Chicago,01/01/1974
2,DMD,111 E Dunlap Ave,Suite 23,Phoenix,AZ,85020,Dentist License,2005-07-15,Case Western Reserve,05/19/2004
3,DDS,"3229 E. Greenway Rd., Ste 103",NaN,Phoenix,AZ,85032,Dentist License,1999-02-18,Marquette,08/01/1996
4,DDS,9315 N. Central Ave.,NaN,Phoenix,AZ,85020,Dentist License,1962-01-01,U of WA,01/01/1962