In [23]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly.plotly as py
import plotly.graph_objs as go

In [24]:
pd.set_option('display.max_columns', 50)

In [25]:
df = pd.read_csv('train.csv')

In [26]:
from david_code import datetime_cleans

In [27]:
df = datetime_cleans(df)

In [28]:
df.head()

,Title,Address.1st.Line,Address.2nd.Line,State,Zip.Code,License.Type,License.Issue.Date,Dental.School,Graduation.Date,approach.date,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,DMD,6335 E. Mountain View,NaN,AZ,85253,Dentist License,1987-06-10,U of Pittsburg,1970-01-01,2017-08-04,1,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,DDS,24 N Bullmoose Cir,NaN,AZ,85224,Dentist License,2009-06-11,SUNY,2007-06-01,2017-06-17,0,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,DDS,2470 W Ray Road Suite 1,NaN,AZ,85224,Dentist License,2001-07-16,U of TX/SA,2001-05-26,2017-07-03,0,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,DDS,6649 East Valle Di Cadore,NaN,AZ,85750,Dentist License,1963-01-01,NW,1957-01-01,2016-11-14,0,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,DDS,6938 E. Gary,NaN,AZ,85254,Dentist License,1979-12-13,U of Detroit,1965-01-01,2017-08-27,0,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [51]:
df.years_in_practice.describe(percentiles=[0.25, 0.5, 0.75, 0.90])

count    3288.000000
mean       29.498193
std        18.421482
min         3.300000
25%        14.670000
50%        25.615000
75%        42.100000
90%        55.683000
max       119.150000
Name: years_in_practice, dtype: float64

In [29]:
# df['approach.date'][0]

In [30]:
# df['day_of_week'] = df['approach.date'].dt.day_name()

In [31]:
# df = datetime_cleans(df)

In [32]:
# df.head()

In [33]:
data = df.drop(columns=['Title', 'Address.1st.Line', 'Address.2nd.Line', 'State', 'Zip.Code', 'License.Type', 'License.Issue.Date', 'Dental.School', 
                'Graduation.Date'])

In [123]:
 data.head()

,approach.date,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,City_Peoria,City_Parker,City_Sun City,City_Show Low,City_Mesa,City_Avondale,City_Oro Valley,City_Littlefield,City_Gilbert,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,2017-08-04,1,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2017-06-17,0,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2017-07-03,0,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,2016-11-14,0,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,2017-08-27,0,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

In [36]:
# Create a trace
trace = go.Scatter(
    x = data.loc[:, 'years_in_practice'],
    y = data.loc[:,'convert'],
    mode = 'markers'
)

In [37]:
plot_data = [trace]

# Plot and embed in ipython notebook!
py.iplot(plot_data, filename='basic-scatter')

In [52]:
data.columns

Index(['approach.date', 'convert', 'years_in_state', 'years_in_practice',
       'broker.ID_chris', 'broker.ID_karl', 'broker.ID_sarah',
       'City_Paradise Valley', 'City_Chandler', 'City_Tucson',
       ...
       'month_July', 'month_November', 'month_September', 'month_March',
       'month_April', 'month_May', 'month_January', 'month_December',
       'month_February', 'month_October'],
      dtype='object', length=139)

In [88]:
months = ['month_January', 'month_February', 'month_March', 'month_April', 'month_May', 'month_June',
              'month_July', 'month_August','month_September', 'month_October', 'month_November', 'month_December']

In [63]:
def find_month_percents(df):
    result = []
    months = ['month_January', 'month_February', 'month_March', 'month_April', 'month_May', 'month_June',
              'month_July', 'month_August','month_September', 'month_October', 'month_November', 'month_December']
    for month in months:
        data = df[df[month] == 1]
        pct = sum(data.loc[:, 'convert'])/len(data)
        result.append((month, pct))
    return result

In [85]:
month_pcts = find_month_percents(data)

,approach.date,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,City_Peoria,City_Parker,City_Sun City,City_Show Low,City_Mesa,City_Avondale,City_Oro Valley,City_Littlefield,City_Gilbert,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
0,2017-08-04,1,31.65,49.10,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2017-06-17,0,9.63,11.66,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2017-07-03,0,17.54,17.68,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,2016-11-14,0,56.11,62.11,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,2017-08-27,0,39.15,54.10,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [95]:
def find_day_percents(df):
    result = []
    days = ['day_of_week_Monday', 'day_of_week_Tuesday','day_of_week_Wednesday', 'day_of_week_Thursday', 
            'day_of_week_Friday','day_of_week_Saturday', 'day_of_week_Sunday']
    for day in days:
        data = df[df[day] == 1]
        pct = sum(data.loc[:, 'convert'])/len(data)
        result.append((day, pct))
    return result

In [96]:
day_pcts = find_day_percents(data)
days = ['day_of_week_Monday', 'day_of_week_Tuesday','day_of_week_Wednesday', 'day_of_week_Thursday', 
            'day_of_week_Friday','day_of_week_Saturday', 'day_of_week_Sunday']

In [97]:
day_pcts

[('day_of_week_Monday', 0.08917197452229299),
 ('day_of_week_Tuesday', 0.0811965811965812),
 ('day_of_week_Wednesday', 0.04487179487179487),
 ('day_of_week_Thursday', 0.057692307692307696),
 ('day_of_week_Friday', 0.059447983014861996),
 ('day_of_week_Saturday', 0.07218683651804671),
 ('day_of_week_Sunday', 0.10191082802547771)]

In [91]:
y = [x[1] for x in day_pcts]
y

[0.08917197452229299,
 0.0811965811965812,
 0.04487179487179487,
 0.057692307692307696,
 0.059447983014861996,
 0.07218683651804671,
 0.10191082802547771]

In [84]:
# Create a trace
day_data = [go.Bar(
            x=days,
            y=[x[1] for x in day_pcts]
    )]

py.iplot(day_data, filename='basic-bar')

In [87]:
month_pcts

[('month_January', 0.07168458781362007),
 ('month_February', 0.0784313725490196),
 ('month_March', 0.06451612903225806),
 ('month_April', 0.04814814814814815),
 ('month_May', 0.04659498207885305),
 ('month_June', 0.08148148148148149),
 ('month_July', 0.08602150537634409),
 ('month_August', 0.0967741935483871),
 ('month_September', 0.07407407407407407),
 ('month_October', 0.07168458781362007),
 ('month_November', 0.07037037037037037),
 ('month_December', 0.07885304659498207)]

In [89]:
# Create a trace
month_data = [go.Bar(
            x= months,
            y=[x[1] for x in month_pcts]
    )]

py.iplot(month_data, filename='basic-bar')

In [189]:
y = data['convert']
data = data.drop(columns=['convert', 'approach.date'])

,convert,years_in_state,years_in_practice,broker.ID_chris,broker.ID_karl,broker.ID_sarah,City_Paradise Valley,City_Chandler,City_Tucson,City_Scottsdale,City_Phoenix,City_Glendale,City_Prescott,City_Douglas,City_Benson,City_Peoria,City_Parker,City_Sun City,City_Show Low,City_Mesa,City_Avondale,City_Oro Valley,City_Littlefield,City_Gilbert,City_Fort Mohave,...,City_Joseph City,City_Williams,City_St. Michaels,City_Young,City_Eagar,City_Wickenberg,day_of_week_Friday,day_of_week_Saturday,day_of_week_Monday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,month_August,month_June,month_July,month_November,month_September,month_March,month_April,month_May,month_January,month_December,month_February,month_October
count,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.00000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.00000,3288.000000,3288.000000,3288.000000,3288.000000,...,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000,3288.000000
mean,0.072384,24.986463,29.498193,0.333333,0.333333,0.333333,0.013990,0.051703,0.135645,0.134428,0.177311,0.045620,0.02129,0.001217,0.000912,0.028893,0.000912,0.004562,0.003345,0.081509,0.00517,0.009428,0.000304,0.052616,0.000912,...,0.000304,0.000304,0.000304,0.000304,0.000304,0.000304,0.143248,0.143248,0.143248,0.143248,0.142336,0.142336,0.142336,0.084854,0.082117,0.084854,0.082117,0.082117,0.084854,0.082117,0.084854,0.084854,0.084854,0.077555,0.084854
std,0.259163,17.436431,18.421482,0.471476,0.471476,0.471476,0.117468,0.221461,0.342463,0.341164,0.381990,0.208692,0.14437,0.034863,0.030197,0.167531,0.030197,0.067399,0.057752,0.273656,0.07173,0.096655,0.017440,0.223299,0.030197,...,0.017440,0.017440,0.017440,0.017440,0.017440,0.017440,0.350379,0.350379,0.350379,0.350379,0.349447,0.349447,0.349447,0.278707,0.274584,0.278707,0.274584,0.274584,0.278707,0.274584,0.278707,0.278707,0.278707,0.267510,0.278707
min,0.000000,3.100000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,11.500000,14.670000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,19.060000,25.615000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,36.765000,42.100000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,98.720000,119.150000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [191]:
X_train, X_test, y_train, y_test = train_test_split(data,y)

In [192]:
random_forest_model = RandomForestClassifier(n_estimators=300, max_depth=3, verbose=1)

In [193]:
random_forest_model.fit(X_train, y_train)
p_random_forest = random_forest_model.predict_proba(X_test)
random_forest_ll = log_loss(y_test, p_random_forest )
print("Random Forest Log Loss " + str(random_forest_ll))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Random Forest Log Loss 0.22766471923528883

[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 300 out of 300 | elapsed:    0.0s finished

In [195]:
# list(zip(data.columns, random_forest_model.feature_importances_))

In [122]:
list(data.columns)

['approach.date',
 'convert',
 'years_in_state',
 'years_in_practice',
 'broker.ID_chris',
 'broker.ID_karl',
 'broker.ID_sarah',
 'City_Paradise Valley',
 'City_Chandler',
 'City_Tucson',
 'City_Scottsdale',
 'City_Phoenix',
 'City_Glendale',
 'City_Prescott',
 'City_Douglas',
 'City_Benson',
 'City_Peoria',
 'City_Parker',
 'City_Sun City',
 'City_Show Low',
 'City_Mesa',
 'City_Avondale',
 'City_Oro Valley',
 'City_Littlefield',
 'City_Gilbert',
 'City_Fort Mohave',
 'City_Tempe',
 'City_Yuma',
 'City_Sedona',
 'City_Surprise',
 'City_Ganado',
 'City_Prescott Valley',
 'City_Queen Creek',
 'City_Litchfield Park',
 'City_Cottonwood',
 'City_Anthem',
 'City_Sierra Vista',
 'City_Sahuarita',
 'City_Payson',
 'City_Sun City West',
 'City_Goodyear',
 'City_Marana',
 'City_Kingman',
 'City_Safford',
 'City_San Tan Valley',
 'City_Fountain Hills',
 'City_Kearny',
 'City_Gold Canyon',
 'City_Flagstaff',
 'City_Cave Creek',
 'City_Buckeye',
 'City_Clarkdale',
 'City_New River',
 'City_Bullhead City',
 'City_St. Johns',
 'City_Overgaard',
 'City_Casa Grande',
 'City_Chino Valley',
 'City_Nogales',
 'City_Central',
 'City_Coolidge',
 'City_Winslow',
 'City_Youngtown',
 'City_Green Valley',
 'City_Lakeside',
 'City_Superstition Mtn',
 'City_Tolleson',
 'City_Rio Verde',
 'City_Lake Havasu City',
 'City_Florence',
 'City_Page',
 'City_Pinetop',
 'City_Camp Verde',
 'City_Guadalupe',
 'City_Maricopa',
 'City_Dewey',
 'City_Tuba City',
 'City_Morenci',
 'City_Pima',
 'City_Globe',
 'City_Willcox',
 'City_Hereford',
 'City_Sun Lakes',
 'City_Lake Montezuma',
 'City_Luke AFB',
 'City_Apache Junction',
 'City_Thatcher',
 'City_Vail',
 'City_Cornville',
 'City_Snowflake',
 'City_Oracle',
 'City_Fort Defiance',
 'City_San Carlos',
 'City_Laveen',
 'City_Sottsdale',
 'City_Bisbee',
 'City_Ajo',
 'City_Ft. Huachuca',
 'City_Clifton',
 'City_W. Sedona',
 'City_Carefree',
 'City_Rio Rico',
 'City_Heber',
 'City_Hackberry',
 'City_Golden Valley',
 'City_Oak Creek',
 'City_Wickenburg',
 'City_Holbrook',
 'City_El Mirage',
 'City_Taylor',
 'City_Eloy',
 'City_Rimrock',
 'City_Polacca',
 'City_Sonoita',
 'City_Joseph City',
 'City_Williams',
 'City_St. Michaels',
 'City_Young',
 'City_Eagar',
 'City_Wickenberg',
 'day_of_week_Friday',
 'day_of_week_Saturday',
 'day_of_week_Monday',
 'day_of_week_Sunday',
 'day_of_week_Thursday',
 'day_of_week_Tuesday',
 'day_of_week_Wednesday',
 'month_August',
 'month_June',
 'month_July',
 'month_November',
 'month_September',
 'month_March',
 'month_April',
 'month_May',
 'month_January',
 'month_December',
 'month_February',
 'month_October']

In [198]:
test = pd.read_csv('test.csv')

In [199]:
test.head()

,Title,Address.1st.Line,Address.2nd.Line,City,State,Zip.Code,License.Type,License.Issue.Date,Dental.School,Graduation.Date
0,DMD,6880 N High Grove,NaN,Willcox,AZ,85643,Dentist License,1991-10-17,U of OR,06/08/1991
1,DDS,1338 East Myrna Lane,NaN,Tempe,AZ,85284,Dentist License,1978-06-18,Loyola/Chicago,01/01/1974
2,DMD,111 E Dunlap Ave,Suite 23,Phoenix,AZ,85020,Dentist License,2005-07-15,Case Western Reserve,05/19/2004
3,DDS,"3229 E. Greenway Rd., Ste 103",NaN,Phoenix,AZ,85032,Dentist License,1999-02-18,Marquette,08/01/1996
4,DDS,9315 N. Central Ave.,NaN,Phoenix,AZ,85020,Dentist License,1962-01-01,U of WA,01/01/1962

In [110]:
final_model = pd.read_csv('prob.csv')
final_model.head(1)

   Unnamed: 0     Chris      Karl     Sarah Max Prob      Mean
0           0  0.071519  0.070642  0.070323    Chris  0.070828

In [109]:
chris_max = final_model[final_model["Max Prob"] == "Chris"]
chris_prob = len(chris_max)/len(final_model)

In [113]:
sarah_max = final_model[final_model["Max Prob"] == "Sarah"]
sarah_prob = len(sarah_max)/len(final_model)

In [119]:
karl_max = final_model[final_model["Max Prob"] == "Karl"]
karl_prob = len(karl_max)/len(final_model)

In [121]:
# Create a trace
sales_data = [go.Bar(
            x= ['Chris', 'Sarah', 'Karl'],
            y=[chris_prob, sarah_prob, karl_prob]
    )]

py.iplot(sales_data, filename='basic-bar')